@use '../../styles/_utilities.scss' as *;

.accordion {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  width: 50%;
  margin: 5rem 5rem 5rem 5rem;
  padding: 1rem;
  font-size: $font-size-medium;
  cursor: pointer;
  color: $neutral-light;
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
