@import '../../styles/_utilities.scss';

.text-helper {
  text-align: left;
  margin: 0;
  color: $text-color;

}

.introduction {
  width: 100%;
  z-index: 10;

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $spacing-xlarge;
    text-align: center; 
    padding-top: 10rem;
    align-items: flex-start;

  }
  &__description {
    display: flex;
    flex-direction: row;
    gap:$spacing-small;
    flex-wrap: wrap;
  }

  &__word-0 {
    @extend .text-helper;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
  }

  &__word-1 {
    @extend .text-helper;
    font-size:$font-size-small;
    font-weight: $font-weight-normal;
  }

  &__word-5 {
    @extend .text-helper;
    font-size:$font-size-small;
    font-weight: $font-weight-normal;
    max-width: 7rem;
    min-width: 3rem;
    width: 4rem;
    color: $primary-color;
    font-style: italic;
  }

  &__word-6 {
    @extend .text-helper;
    font-size:$font-size-small;
    font-weight: $font-weight-normal;
    text-decoration:line-through;
    margin-right: 2rem;
    font-style: italic;

  }
}


.button{
  margin-left: 3rem;
  margin-top:2rem;
  position: absolute;
  z-index: 10;
}
