@import '../../styles/_utilities.scss';

.container {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.skills-container {
  display: flex;
  flex-direction: row;
    gap: 2rem;
}

.skill {
  cursor: pointer;
  font-size: $font-size-large;
  width: 700px;
  height: 100px;
}


.skill-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}


.skill-level {
  height: 2rem;
  background-color: $neutral-dark;
  border-radius: 8px;
}

.skills-word {
  font-size: $font-size-large;
  color: $neutral;
}

.paint-splatter {
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 280px;
  top: 18rem;
  right: 20%;
  background-color: #e74c3c;
  background-color: $primary-color;
  border-radius: 50%;

  &__text{
  position: relative;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: $font-size-small;
    color: $neutral-light;
    font-weight: $font-weight-light;
  }

  //add another paint splatter
    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        width: 50px;
        height: 50px;
        top: -5%;
        left: 80%;
        transform: translate(-50%, -50%);
        background-color:  rgba(  34, 34, 34,0.9);
        border-radius: 50%;
    }

}
