.hover-item {
  transition: all 0.3s ease;
}

.hover-item:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(3);
}

.cursor {
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #090c0c;
  mix-blend-mode: saturation;
  transform: translate(-50%, -50%);
}
