@use '../../styles/_utilities.scss' as *;

.matrix-rain {
    display: flex;
    justify-content: space-around;
    height: 40rem;
    overflow: hidden;
    z-index: 1;
    padding-left: 10rem;  
    align-items: center;

    
  @include respond-to(small) {
    font-size: $font-size-medium; 
    padding: 0;  
  }

  
  @include respond-to(medium) {
    padding: 0;  
  }

}

  
  .matrix-line {
    display: flex;
    flex-direction: column;
     animation: matrixRain 10s infinite linear;
  }
  
  .matrix-char {
    color: $color-matrix-1;
    font-size: $font-size-large;
    animation: colorChange 2s infinite linear; 

  }
  
  @keyframes matrixRain {
    0% { 
        transform: translateY(-40%);
        opacity: 0.6; 
    }
    50%{
        opacity: 1;
    }
    100% { transform: translateY(0%); opacity: 0.4;  }
  }
  @keyframes colorChange {
    0%, 100% { color: #0f0; } 
    50% { color: $color-matrix-1; }
}
