@use './styles/_utilities.scss' as *;

.wrapper{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    gap:100px;
  
  @include respond-to(small) {
    flex-direction: column;
    gap: 120px;
    height: 100vh;
  }

  @include respond-to(medium) {
    flex-direction: column;
    gap: 140px;
    height: 100vh;
  }

}
