@use '../../styles/_utilities.scss' as *;

.button__wrapper{
  width: 10rem;
  height: 4rem;
  border-radius: 10px;
  border: 3px solid black;
  cursor: pointer;
  background-color:  transparent;
  font-size: $font-size-text;
  color: var(--text-color);
  font-weight: $font-weight-bold;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.button__wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  width: 0;
  height: 0;
  background-image: url('../../assets/icon3d.png');
  background-size: cover;
  transition: all 0.3s ease;
}

  .button__wrapper:hover::before {
    width: 30px;
    height: 30px;
}

  .button__wrapper:hover {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 3px solid black;
}
